header {
    background: red;
}

img {
    max-width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

nav ul li a {
    display: block;
    background-color: #666;
    color: #FFF;
    margin: 3px 0;
    padding: 10px;
    text-decoration: none;
}

.paragrafo-destaque-desktop {
    display: none;
}


@media (min-width:760px) {
    header {
        background: #0F0;
    }
}


@media (min-width:1280px) {
    header {
        background: #00F;
    }

    nav ul {
        flex-direction: row;
        justify-content: flex-start;
    }

    nav ul li {
        margin: 15px;
    }

    header,nav,main {
        width: 1280px;
        margin: auto;
    }

    .paragrafo-destaque-desktop {
        display: block;
        color: rgb(145, 142, 5);
    }

}